<div class="form-left-col">
    <label>IP:</label>
    <input id="sourceIp" name="ip" type="text" value="<%= ip %>" required />

    <label>Name:</label>
    <input type="text" id="name" name="name" value="<%= name %>" required />

    <label>Domain:</label>
    <input type="text" id="domain" name="domain" value="<%= domain %>"/>

    <label>Username:</label>
    <input type="text" id="username" name="username" value="<%= username %>" required />

    <label>Password:</label>
    <input type="text" id="password" name="password"  value="<%= password %>" required />

    <label>Date source was added:</label>
    <%= addeddate %>

    <label>Last update date:</label>
    <%= lastmodifieddate %>

    <label>Tags:</label>
    placeholder for tags

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>